<%- include('./modules/header') %>
<div class="container">
  <h2 class="d-flex justify-content-center">Por favor espera 3 segundos para desbloquear el enlace</h2>
  <div class="d-grid gap-2">
    <a class="btn btn-primary" href="<%= url %>">ir al enlace</a>
  </div>
<%- include('./modules/footer') %>
