<%- include('./helpers/header') %>
<!-- JuicyAds v3.1 -->
<script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="935862" data-width="8" data-height="52"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':935862});</script>
<!--JuicyAds END-->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Links</li>
        </ol>
      </nav>
      <div class="card">
        <div class="card-body">
          Bienvenido al nuevo acortador de links <a href="#">UrlApk</a>, recién está en fase de desarrollo, próximamente podrás generar ingresos acortando tus urls con nosotros, te invitamos a mantenerte informado en mi blog. <a href="https://mrsalvadorolea.blogspot.com/">https://mrsalvadorolea.blogspot.com/</a>
        </div>
      </div>
</div>
<%- include('./helpers/footer') %>