<%- include('./helpers/header') %>
<div class="container">
    <!-- JuicyAds v3.2P Start -->
<script type="text/javascript">
    var juicy_tags = ['a', 'img'];
    </script>
    <script type="text/javascript" src="https://js.juicyads.com/jp.php?c=a4c4x233x256s2v2o264x254&u=http%3A%2F%2Fwww.juicyads.rocks"></script>
    <!-- JuicyAds v3.2P End -->
    <!-- JuicyAds v3.1 -->
<script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="936061" data-width="908" data-height="270"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':936061});</script>
<!--JuicyAds END-->
    <div class="card">
        <div class="card-body">
            <h1 class="text-center"><%= name %></h2>
                <p class="fst-italic text-center">Por favor espera 3 segundos para ver el enlace.</p>
            <div class="d-flex justify-content-center mb-4">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto mb-4">
                <button class="btn btn-primary" type="button"><a href="<%= url %>" style="color: #ffff; text-decoration: none;">Ir al enlace</a></button>
              </div>
        </div>
    </div>
</div>
<%- include('./helpers/footer') %>